<div class="sidebar">

  {{ if .Params.toc }}
    {{ with .TableOfContents }}
      <aside class="toc">
        <nav>
          <p class="sidebar__heading">Table Of Contents</p>
          {{ . }}
        </nav>
      </aside>
      <hr />
    {{ end }}
  {{ end }}

  {{ $cv := index $.Site.Data.json_resume $.Site.Language.Lang }}
  {{ if $cv.basics }}
    <aside class="bio">
      {{ partial "json-resume/basics.html" . }}

      {{ if $.Site.Params.tagCloud.enable }}
        <hr />
      {{ end }}
    </aside>
  {{ end }}


  {{ $styles := resources.Get "assets/css/widget/00-categories-widget.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}">
  {{ $cats := .Site.Taxonomies.categories }}
  {{ $exclude := slice "일기" }}
  {{ partial "widget-categories.html" (dict
      "Page"    .
      "Cats"    $cats
      "Exclude" $exclude
  ) }}


  {{ if $.Site.Params.tagCloud.enable }}
    <aside>
      {{ partial "tag-cloud.html" . }}
    </aside>
  {{ end }}
</div>
